/*
Theme Name: Compor Solutions
Theme URL:
Description:Theme for Compor Solutions
Author: Jorge Hrndz, Nestor Berrios
Version: 1.0
Tags:ComporSolutions, ComporSolutions Theme
Author URL:http://twitter.com/yorsh033
*/
/*===============================================
  =                              =    
  ===============================================*/
@font-face {
    font-family: 'compor';
    src:url('fonts/compor/fonts/compor.eot?-cse6fv');
    src:url('fonts/compor/fonts/compor.eot?#iefix-cse6fv') format('embedded-opentype'),
        url('fonts/compor/fonts/compor.woff?-cse6fv') format('woff'),
        url('fonts/compor/fonts/compor.ttf?-cse6fv') format('truetype'),
        url('fonts/compor/fonts/compor.svg?-cse6fv#compor') format('svg');
    font-weight: normal;
    font-style: normal;
}  



/*===============================================
  =       DEFAULT STYLES                        =    
  ===============================================*/
body 
	font-size 16px
	
img
video
	max-width 100%		

/*===============================================
  =                 COLORS                      =    
  ===============================================*/
black = #212121
concrete = #95a5a6
red = #D02400 
//red = #DE4F4F
white = #ecf0f1

/*===============================================
  =                  CONTACT                    =    
  ===============================================*/	
.Contact 
	background-image url(img/1.jpg)
	background-position 19%
	background-size cover
	background-repeat no-repeat
	padding-top .2em
	
	&-email
	&-name
	&-message
	&-send				 	
	&-subject
		apeareance none
		background-color rgba(255,255,255,.4)
		border none
		border 1px 
		border-color red
		box-sizing border-box 
		color black
		font-size 1.5em
		margin .5em 0
		padding .5em
	&-name
		margin-right 2%
	&-name
	&-email	
		flex 0 1 49%
		order 1	
	&-subject
		flex 0 1 100%
		order 2	
	&-message
		flex 0 1 100%
		order 3	
		resize none
	&-send
		background-color red
		border 1px solid transparent
		color white
		margin 0 auto
		order 4
		padding .5em 2em
		position relative
		text-transform uppercase
		transition all .5s
		&:hover
			border 1px solid black
			color black
		&:after
			color white
			content "asdas"
			position absolute

/*===============================================
  =                 FOOTER                      =    
  ===============================================*/
.Footer
	background-color #111111
	color white
	height 200px
	padding .5em
	text-align center
/*===============================================
  =                 HEADER                      =    
  ===============================================*/
  

.Header
	background-color rgba(0,0,0,.8)
	color white
	padding .2em
	position fixed
	width 100%
	z-index 4
	&__logo
		min-width 152px 
		text-align center
		width 25%
		h1
			font-size .9em
			font-weight 300
			margin 0
	
	&__menu
		width 50%
		ul 
			display flex
			justify-content flex-start
			list-style none
		a		
			color white
			font-size .9em
			padding 1em	
			text-decoration none
			transition all .5s
			
			&:hover
				background-color rgba(0,0,0,.5)
	&__searcher
		color white
		text-align right		
		width 25%
		input
			background-color rgba(255,255,255,.2)
			border none
			font-size .9em
			padding .2em
			text-transform uppercase
			
			&:focus
				border none
	&__logo		
	&__menu
	&__searcher
		display inline-block
		margin-right -4px
		vertical-align middle
		text-transform uppercase
/*===============================================
  =              ICONS                          =    
  ===============================================*/
.Icon
	background-color red
	border 5px solid  #B32001
	border-radius 50%
	color white
	display block
	font-family "compor"
	font-size 4em
	height 100px
	line-height 100px
	margin 0 auto
	padding .3em
	width 100px
	&-webDevelopment
		&:before
			content "\e994"
	&-network
		&:before		
			content "\e9c9"
	&-graficDesign
		&:before
			content "\e604"
			
	&-MarketingDigital
		&:before
			content "\e91a"	
	&-ComputerSistems
		&:before
			content "\e956"		
	
	&-mobileApps
		&:before
			content "\e958"	
					



		 
	  			
/*===============================================
  =              UTILITIES                      =    
  ===============================================*/	
  	
.u
	&-black
		//background-color black
		color white
		font-weight bold
		padding-left .2em
		padding-right .2em 
	&-boxS
		background-color #c0392b
			
	&-button
		color red
		font-weight bold
		font-size .7em
		text-decoration none
		&:hover
			text-decoration underline
		&W
			color white	
	
	&-col3
		box-sizing border-box
		flex 0 1 33.3333333333%
		margin-bottom 2em
		order 0
		padding .5em
		text-align center
		figure
			margin 0
			overflow hidden
			position relative
			&:hover
				figcaption
					opacity 1
					bottom 0
		img
			transition transform .5s
		a
			&:hover		
				img
					transform scale(1.1)
					
		figcaption
			background-color rgba(0,0,0,.7)
			bottom -100px
			color white
			left 0
			opacity .2
			padding .2em
			position absolute
			right 0
			transition all .5s ease
					

	&-container
		margin 0 auto
		max-width 1200px
		width 80% 			
	&-contactanos
		//background-color red
		border-radius .2em
		border 5px solid red
		border-bottom 5px solid #A01C00
		color red
		font-size 1.2em
		font-weight bold
		margin 0  auto
		padding .5em 2em
		text-decoration none
		text-align center
		transition all .5s
		&:hover
			background-color red	
			color white
	&-content
	&-image
		flex 0 1 50%
	

	&-flexbox
		display flex
		flex-flow row wrap
		padding-bottom 2em
		width 100%		
	&-red
		background-color red
		color white	
		padding-left .2em
		padding-right .2em 
	&-subtitle
		&W
			color white	
		&R
			color red	
	&-text
		font-size 1.1em
		color concrete
		&B
			font-size 2em 
		&W
			color white
			
		
	&-title
		font-size 2.5em 
		font-weight 300
		&:after
			content ""
			display block
			margin 10px 0
			width 100px 
			height 5px
			background-color red
		&W
			color white
			&:after
				content "" 
				display block
				margin 10px 0
				width 100px 
				height 5px
				background-color black
				
	//shared property
	&-button
	&-title	
	&-subtitle
		text-transform uppercase

.prueba
	background-color #D02400
	height 700px	
	overflow hidden
	width 100%


/*===============================================
  =              SERVICES                       =    
  ===============================================*/		
.Services
	//background-color #E25041
	color black
	padding .5em
	
/*===============================================
  =             SLIDESHOW                    =    
  ===============================================*/		
.Slideshow
	height 680px
	overflow hidden
/*===============================================
  =              SERVICES                       =    
  ===============================================*/	
.Products
	//background-color red  	
	padding-top .5em
	
	&-landing
		background-color #E25041
		padding .1em

.w
	position relative	