/*
Theme Name: Compor Solutions
Theme URL:
Description:Theme for Compor Solutions
Author: Jorge Hrndz, Nestor Berrios
Version: 1.0
Tags:ComporSolutions, ComporSolutions Theme
Author URL:http://twitter.com/yorsh033
*/





/*===============================================
  =       DEFAULT STYLES                        =    
  ===============================================*/
body 
	font-size 16px
	
img
video
	max-width 100%		

/*===============================================
  =                 COLORS                      =    
  ===============================================*/
white = #f9f9f9 
red = #D02400 


/*===============================================
  =                 HEADER                      =    
  ===============================================*/
.Header
	background-color rgba(0,0,0,.5)
	color white
	padding .2em
	position fixed
	width 100%
	&__logo
		min-width 152px 
		text-align center
		width 25%
		h1
			font-size .9em
			font-weight 300
			margin 0
	
	&__menu
		width 50%
		ul 
			display flex
			justify-content space-between
			list-style none
		a		
			color white
			font-size .9em
			text-decoration none
			transition color .5s
			&:hover
				color red
	&__searcher
		color white
		text-align right		
		width 25%
		input
			background-color rgba(255,255,255,.2)
			border none
			font-size .9em
			padding .2em
			text-transform uppercase
			
			&:focus
				border none
	&__logo		
	&__menu
	&__searcher
		display inline-block
		margin-right -4px
		vertical-align middle
		text-transform uppercase
/*===============================================
  =              UTILITIES                      =    
  ===============================================*/		
.u-black
	background-color black
	color white
	padding-left .2em
	padding-right .2em 
	
.u-container
	margin 0 auto
	max-width 1200px
	width 80% 			
	
.u-red
	background-color red
	color white	
	padding-left .2em
	padding-right .2em 
	

.prueba
	background-color #D02400
	height 600px	
	width 100%
	